@model IEnumerable<ApiResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Adds baggage and events to the activity</p>
</div>

<table>
    @foreach(var product in Model.ToList())
    {
        <tr>
            <td>Product: @product.ProductName</td>
            <td>Stock: @product.Stock</td>
        </tr>
    }
</table>
